[package]
name = "acton-reactive"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Acton Reactive is the main crate of the Acton framework, designed for building reactive, event-driven, and asynchronous systems. It provides intuitive abstractions to make working with distributed agents seamless and efficient."

[dependencies]
acton-macro.workspace = true
acton-core.workspace = true
rand.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
anyhow.workspace = true
async-trait.workspace = true
tokio.workspace = true
futures.workspace = true
tracing-appender.workspace = true

[dev-dependencies]
acton_test.workspace = true
crossterm.workspace = true
mti.workspace = true
zerocopy.workspace = true
dashmap.workspace = true
ansi_term.workspace = true
tempfile.workspace = true

[lints]
workspace = true
