[package]
name = "acton-reactive"
version = "3.0.0-beta.1"
edition = "2021"
description = "Acton Reactive is the main crate of the Acton framework, designed for building reactive, event-driven, and asynchronous systems. It provides intuitive abstractions to make working with distributed agents seamless and efficient."
license = "Apache-2.0 OR MIT"
documentation = "https://github.com/Govcraft/acton-reactive/blob/main/README.md"
homepage = "https://github.com/Govcraft/acton-reactive"
repository = "https://github.com/Govcraft/acton-reactive"

[lints.rust]
unused = "allow"

[dependencies]
acton-macro = { version = ">=3.0.0-beta" }
acton-core = { version = ">=3.0.1-beta" }
rand = "0.8.5"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
anyhow = "1.0.82"
async-trait = "0.1.8"
tokio = "1.37.0"
futures = "0.3.30"

[dev-dependencies]
acton_test = ">=3.0.0-beta"
crossterm = { version = "0.28.1", features = [
  "event-stream",
] } # or the latest version available
mti = "1.0.7-beta.1"
tracing-appender = "0.2.3"
zerocopy = "0.8.0-alpha.26"
dashmap = "6.1.0"
ansi_term = "0.12.1"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
